#header_logo{
    background-image: linear-gradient(to right,white,lightblue);
    width: 100%;
    height : 23%;
    margin: 0;
}
body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
  }
 #header_logo_left{
     opacity:100%;
     margin-top: 19px;
     margin-left: 45px;
     height: 82%;
     width: 16%;
 } 
 #header_logo_right{
    opacity:100%;
    margin-top: 23px;
    float: right;
    margin-right: 51px;
    height: 71%;
    width: 19.5%;
 }
 .header_menu{
     background-image: linear-gradient(to right,mediumblue, cyan);
     margin-top: 0;
     list-style-type: none;
     margin: 0;
     padding: 0;
     overflow: hidden;
     position: -webkit-sticky;
     position: sticky;
     top: 0;
     z-index: 5;
 }
 .header_links{
     float: left;
 }
 .header_links a:hover{
     background-color: darkblue;
     color: white;
 }
.header_links a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px 23px 16px 23px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-size: 23px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.active a{
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
    font-size: 19px;
    font-weight: bold;
    font-size: 23px;
    background-color: rgb(138, 222, 248);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#desc_logo{
    align-items: center;
    margin: 0px 0px 0px 1.5%;
    opacity: 100%;
    height: auto;
    width: 34.5%;
    margin: auto;
    display: block;
}
.footer_menu{
    background-color: black;
    height: 51%;
    width: 100%;
}
.table_heading{
    font-size: 40px;
    color: white;
    font-weight: normal;
    padding: 1% 0px 0.5% 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site_map a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.site_map a:hover{
    color: rgb(56, 56, 247);
}
.site_map{
    list-style-type: none;
    text-align: left;
    padding: 1% 4% 0px 26.4%;
}
.placing{
    float: left;
    background-color: black;
    width: 33.333333%;
    height: auto;
    margin: 0;
}
.side_heading{
    color: white;
    font-size: 40px;
    padding: 1% 0px 0px 5%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.useful_links{
    list-style-type: none;
    text-align: left;
    padding: 1% 7% 0px 0%;
}
.useful_links a{
    font-size: 25px;
    text-decoration: none;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.useful_links a:hover{
    color: rgb(56, 56, 247);
}
.college_logo img{
    padding: 7% 0px 0px 19.7%;
    width: 47.2%; 
    height: 45.4%;
}
.credits{
    background-color: rgb(24, 23, 23);
    width: 100%;
}
.credits_copyright{
    text-align: center;
    font-size: 23px;
    color: white;
    margin: 0;
    padding-top: 2%;
    padding-bottom: 1%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}
.intro{
    text-align: center;
    font-size: 40px;
    color: blue;
    margin-top: 7%;
    margin-bottom: 3.5%;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container{
    margin: 3% 5% 6% 5%;
    background-color: lightblue;
    height: 50%;
    border: 0px solid rgb(184, 232, 248);
    border-radius: 20px 20px 20px 20px;
}
.container:hover{
    box-shadow: 1px 1px 10px 10px rgb(151, 140, 140);
}
.member_picture{
    width: 21%;
    height: 90%;
    padding: 1.3% 0% 1.3% 3%;
}
.member_picture_other{
    width: 18%;
    height: 92%;
    padding: 1% 0% 1% 4%;
}
.placeholder{
    width:73%;
    float: right;
    height: 100%;
    background-image: linear-gradient(to right,lightblue,rgb(85, 85, 241));
    border-radius: 0px 20px 20px 0px;
}
.designation{
    font-size: 29px;
    margin-top: 2.3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.bio{
    font-size: 29px;
    margin-top: 3%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 40px;
}